<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.user.mapper.RoleMapper">

    <select id="findByRole" resultType="com.example.user.pojo.Role">
        select * from tb_role where role = #{role}
    </select>

    <select id="findByUserId" resultType="com.example.user.pojo.Role">
        select * from tb_role r inner join user_role ur on r.id = ur.role_id and ur.user_id = #{userId}
    </select>
</mapper>